/* Blog 5 Style */
.blog-5{
    transition:.9s;
}

.blog-5:hover{
    box-shadow: 1px 2px 5px 0px grey; 
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;   
}

.blog-5 .blog-content {
    padding: 10px 30px 40px;
}

.blog-5 .blog-description a {
    text-decoration: none ;
    color: #fff ;
    background-color: #8b0405 ;
    padding: 10px 20px ;
     font-weight:bold;
    font-size: 14PX;
}

.blog-5 .blog-description p {
    padding-bottom: 20px;
}
